.btn {
  width: 100%;
  border: 0;
  border-radius: 8px;
  padding: 18px 40px;
  background: var(--primary-color);
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  transition: background-color 0.2s;
  cursor: pointer;
}

.btn:hover {
  background: #2fb86e;
}
