.form {
  padding: 64px;
  border-radius: 8px;
  background: #fff;
  display: flex;
  flex-direction: column;
}

.form__head {
  margin-bottom: 48px;
  font-size: 36px;
}

.form__btn-container {
  align-self: flex-end;
  margin-top: 40px;
}

.fieldset {
  margin-top: 64px;
}

.fieldset__header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.fieldset__title {
  font-size: 24px;
}

.fieldset__detail {
  font-size: 14px;
}

.container-field {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 24px;
}

.container-field__item-sm {
  grid-column: span 1;
}

.container-field__item-md {
  grid-column: span 2;
}

.container-field__item-lg {
  grid-column: span 3;
}

.container-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
}

@media screen and (min-width: 992px) {
  .form {
    margin: 0 auto;
    width: 736px;
  }
}
