.container {
  margin: 0 auto;
  min-height: 100vh;
  padding: 0 30px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr 120px;
}

@media screen and (min-width: 992px) {
  .container {
    padding: 0;
    max-width: 960px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
