.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content {
  margin-bottom: 40px;
  width: 75%;
  text-align: center;
}

.content__head {
  margin-bottom: 24px;
  font-size: 54px;
}

.content__desc {
  font-size: 24px;
}

.button-search {
  width: fit-content;
  border-radius: 8px;
  background: var(--primary-color);
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.2s;
}

.button-search:hover {
  background: #2fb86e;
}

.button-search__container-icon {
  padding: 24px;
  background: rgba(0, 0, 0, 0.08);
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-search__icon {
  margin-bottom: 0;
  width: 24px;
  height: 24px;
  color: #fff;
}

.button-search__content {
  padding: 0 40px;
  font-weight: bold;
  color: #fff;
}

.form-search {
  width: 100%;
  max-width: 420px;
}

.form-search__head {
  margin-bottom: 40px;
  font-size: 36px;
  font-weight: bold;
  color: #fff;
  text-align: center;
}

.form-search__btn {
  width: 100%;
  padding: 18px 0;
  background: var(--primary-color);
  border-radius: 8px;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  border: 0;
  transition: background-color 0.2s;
  cursor: pointer;
  text-align: center;
}

.form-search__btn:hover {
  background: #2fb86e;
}

.fieldset-search {
  margin: 8px 0;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.fieldset-search__input {
  border-radius: 8px;
  border: 0;
  padding: 18px 24px;
  font-size: 16px;
  color: #a0a0b2;
  background: #fff;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.fieldset-search__input:not(:last-child) {
  margin-bottom: 8px;
}

.fieldset-search__input::-webkit-outer-spin-button,
.fieldset-search__input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

@media screen and (min-width: 1200px) {
  .main {
    align-items: flex-start;
  }

  .content {
    width: 50%;
    text-align: start;
  }

  .wrapper {
    margin: 0 auto;
    max-width: 1440px;
    background: url('../../assets/home-background.svg') bottom right / 750px
      no-repeat;
  }
}
