.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content {
  margin-bottom: 40px;
  width: 75%;
  text-align: center;
}

.content__head {
  margin-bottom: 24px;
  font-size: 54px;
}

.content__desc {
  font-size: 24px;
}

@media screen and (min-width: 1200px) {
  .main {
    align-items: flex-start;
  }

  .content {
    width: 50%;
    text-align: start;
  }

  .wrapper {
    margin: 0 auto;
    max-width: 1440px;
    background: url('../../assets/home-background.svg') bottom right / 750px
      no-repeat;
  }
}
