.header {
  padding: 46px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation-btn {
  display: flex;
  align-items: center;
}

.navigation-btn__label {
  margin-left: 16px;
  font-weight: bold;
  color: var(--title-color);
}
