.points__counter {
  margin-bottom: 40px;
  display: block;
}

.points__container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 32px;
}

@media screen and (min-width: 720px) {
  .points__container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1200px) {
  .points__container {
    grid-template-columns: repeat(3, 1fr);
  }
}
