.counter {
  margin-bottom: 40px;
  display: block;
}

.container-points {
  display: grid;
  grid-template-columns: 1fr;
  gap: 32px;
}

.point {
  display: flex;
  flex-direction: column;
}

.point__image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  object-position: center;
}

.point__name {
  margin: 32px 0 24px 0;
  font-size: 36px;
  font-weight: bold;
}

.point__items {
  margin-bottom: 24px;
  font-size: 24px;
  font-weight: bold;
  color: var(--primary-color);
}

.point__address {
  list-style: none;
}

@media screen and (min-width: 720px) {
  .container-points {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1200px) {
  .container-points {
    grid-template-columns: repeat(3, 1fr);
  }
}
