.form {
  padding: 64px;
  border-radius: 8px;
  background: #fff;
  display: flex;
  flex-direction: column;
}

.form__head {
  margin-bottom: 48px;
  font-size: 36px;
}

.form__btn-container {
  align-self: flex-end;
  margin-top: 40px;
}

.dropzone {
  height: 300px;
  background: #e1faec;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: 0;
}

.dropzone img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.dropzone p {
  width: calc(100% - 60px);
  height: calc(100% - 60px);
  border-radius: 10px;
  border: 1px dashed #4ecb79;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #333;
}

.dropzone p svg {
  margin-bottom: 8px;
}

.fieldset {
  margin-top: 64px;
}

.fieldset__header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.fieldset__title {
  font-size: 24px;
}

.fieldset__detail {
  font-size: 14px;
}

.container-field {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 24px;
}

.container-field__item-sm {
  grid-column: span 1;
}

.container-field__item-md {
  grid-column: span 2;
}

.container-field__item-lg {
  grid-column: span 3;
}

.field {
  display: flex;
  flex-direction: column;
}

.field__label {
  margin-bottom: 8px;
}

.field__input {
  padding: 16px 24px;
  color: #6c6c80;
  background: #f0f0f5;
}

.container-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
}

.success {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.success__icon {
  width: 64px;
  height: 64px;
  margin-bottom: 24px;
}

.success__text {
  font-size: 36px;
  color: #fff;
  font-weight: 700;
}

@media screen and (min-width: 992px) {
  .form {
    margin: 0 auto;
    width: 736px;
  }
}
